@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    background-color: green;
    width: 100%;
    padding: 20px;
}

.titulo, .menu{
    width: 50%;
}

.titulo{
    color: white;
}


.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-size: 16px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 40px;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
}

.corpo{
    background-color: white;
}

.subtitulo{
    padding: 20px;
}

.localizacao{
    font-size: 18px;
    padding-left: 20px;
}

.subtitulod{
    padding: 20px;
}

.carro{
    font-size: 18px;
    padding-left: 20px;
}

.carrod{
    font-size: 18px;
    padding-left: 20px;
}

.onibus{
    font-size: 18px;
    padding-left: 20px;
}

.onibusd{
    font-size: 18px;
    padding-left: 20px;
}

.agendamento{
    padding: 20px;
}

.agendar{
    font-size: 18px;
    padding-left: 20px;
    padding: 20px;
    padding-top: 0px;
}

.mapaf{
    padding-left: 20px;
}